*.png
*.psd
*.jpg
*.zip
/images/chocobo_2.tga
/music/*
!/music/chocobo.ogg
!/music/chocobo_ffiv.ogg
!/music/chocobo_ffxii.ogg
!/music/chocobo_ffxiii.ogg
/cfapikey
/wowisetup
/WoWIUploader.class
/build
