*.png
*.psd
*.jpg
*.zip
/images/chocobo_2.tga
/music/*
!/music/chocobo.ogg
!/music/chocobo_ffii.ogg
!/music/chocobo_ffiii.ogg
!/music/chocobo_ffiv.ogg
!/music/chocobo_ffv.ogg
!/music/chocobo_ffvi.ogg
!/music/chocobo_ffvii.ogg
!/music/chocobo_ffviii.ogg
!/music/chocobo_ffix.ogg
!/music/chocobo_ffx.ogg
!/music/chocobo_ffxii.ogg
!/music/chocobo_ffxiii.ogg
!/music/chocobo_ffxiv.ogg
/cfapikey
/wowisetup
/WoWIUploader.class
/build
/.release
release.sh
.env

/libs/LibStub
/libs/CallbackHandler-1.0
